*{
    margin: 0;
    padding: 0;
}
body {
    
    font-family: 'Poppins', sans-serif;
    background-color: #eaeaea;
  }

h1{
    color: #283564;
    font-weight: 600;
    padding: 10px;
}

.container{
    margin: auto;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.topnav {
    background-color: #283564;
    
  }

.topnav li{
    display: inline-block;
    padding: 16px 14px;
}
  
.topnav span {
    
    cursor: pointer;
    padding: 14px 16px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.6;
    transition: 0.3s;
    font-weight: 400;
}

.topnav span:hover  {
    
    color: #eaeaea;
    opacity: 1
}

.topnav .icon {
    display: none;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.p-10{
    padding: 10px;
}

.pt-10{
    padding-top: 30px;
}

.mt-10{
    margin-top: 30px;
}
.mb-10{
    margin-bottom: 30px;
}

.mb-5{
    margin-bottom: 10px;
}

.formulario{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}

.form{
    width: 75%;
}

.form-control{
    width: 100%;
    height: 2.5rem;
    margin-top: 15px;
}

.form-icon{
    width: 70%;
}

.span-error{
    width: 100%;
    font-size: 13px;
    font-style: italic;
    color: #FF4646;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
    background: inherit;
    border: 1px solid #283564;
    color: #283564;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s linear;
    border-radius: 10px;
  }

.btn-primary:hover {
    color: white;
    background: #283564;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=text], [type=email], [type=number]{
    font-family: 'Poppins', sans-serif;
    appearance: none;
    border: 1px solid transparent;
    background-color: #F1F1F1;
    text-indent: 10px;
    border-radius: 7px;
}

input[type=text]:focus, [type=email]:focus, [type=number]:focus{

    appearance: none;
    outline: none;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: #E4E4E4;
}

select{
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    outline: none;
    border: 1px solid transparent;
    background-color: #F1F1F1;
    text-indent: 10px;
}

select:focus{
    outline: none;
    border: 1px solid transparent;
    background-color: #E4E4E4;
}

@media screen and (max-width: 920px) {

    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.2em;
    }
    select{
        width: 100%!important;
    }
    .formulario{
        width: 90%;
    }
    .form{
        width: 100%;
    }
    .form-control{
        width: 100%;
        height: 2rem;
        margin-top: 15px;
    }
    
    .topnav li, span {
        text-align: center;
        
    }
    .topnav{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .topnav li{
        width: 100%;
        height: 45px;
    }
}